<div align="center">
    <h1>
        <img src="https://i.imgur.com/r3mT7Sz.png" alt="Project Flare" width="200">
        <br> Project Flare
    </h1>
    <hr>
    <h4>Project Flare is a full-fledged Tinder web client made in Angular with extra features such as the ability to see profile
        picture success rate (If Smart Photos is enabled), See possible matches, Search profile on Facebook/Instagram, an
        input for images to detect specific face attributes and emotions such as age, gender, happiness, etc...</h4>

    <br>
    <br>
    <div style="width: 20%; margin: auto;" class="row">
        <div class="col-sm-6">
            <img class="programImage shadowed" src="assets/angular.png">
        </div>
        <div class="col-sm-6">
            <img class="programImage shadowed" src="assets/nodejs-logo-hexagon-card-transparent.png">
        </div>
    </div>
    <hr style="width: 20%">
    <br>
    <h3>This project was made with Angular and NodeJS</h3>
    <br>
    <h1>
        FAQ
    </h1>
    <hr>
    <h2>Profiles</h2>
    <h3>What is this "Possible matches" feature?
        <p style="font-size: 15px;">Clicking this will set your distance to 1 mile, anyone who shows up with a distance further than 1 mile will be a possible match, this will be shown with a green "Possible match" text on the profile itself. If it doesn't show anything you don't have any new matches</p>
    </h3>
    <br>
    <h2>Passport</h2>
    <h3>Why can I not use the Passport function?
        <p style="font-size: 15px;">You need to have an active subscription for Tinder Plus in order to use Passport to change your travel location</p>
    </h3>
</div>