<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-image" src="assets/flare_tinder_logo.ico" />
        <a class="navbar-brand" href="">{{title}}</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="user">User</a></li>
        <li><a href="profiles">Profiles</a></li>
        <li><a href="matches">Matches</a></li>
        <li><a href="passport">Passport</a></li>
        <li><a href="about">About</a></li>
        <!-- <li><a href="facedetection">Face detection</a></li> -->
      </ul>
    </div>
    </div>
  </nav>