.navbar-image {
    width: 50px;   
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    vertical-align: middle;
    height: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%  !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}