<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-image" src="https://cdn4.iconfinder.com/data/icons/social-media-pro-icons/1080/Tinder-01-128.png" />
        <a class="navbar-brand" href="#">Tinder Angular</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">User</a></li>
        <li><a href="profiles">Profiles</a></li>
        <li><a href="matches">Matches</a></li>
        <li><a href="passport">Passport</a></li>
        <!-- <li><a href="facedetection">Face detection</a></li> -->
      </ul>
    </div>
    </div>
  </nav>