<div class="container">
    <h1 style="text-align: center">Login</h1>
    <hr style="width: 20%">
    <div class="login">
        <div class="facebookLogin">
            <h2>Step 1</h2>
            <h4>Click the button below to open the Facebook authentication dialog</h4>
            <button class="btn btn-primary blueGradient" (click)="facebookLogin()">Facebook Login</button>
        </div>
        <br>
        <div>
            <h2>Step 2</h2>
            <h4>You will see a dialog that says you have already authorized Tinder. At this point, open your browser’s developer
                tools. (Cmd + Option + I on Mac) or (F12, Ctrl + Shift + I on Windows) or right click the page anywhere and
                select 'Inspect'. Switch to the 'Network' tab in your developer tools window. Your dev tools window should
                look like the image below.</h4>
        </div>
        <img src="assets/login_tutorial1.PNG" />
        <br>
        <div>
                <h2>Step 3</h2>
                <h4>Press the 'Okay' button on the Tinder dialog, and you will see some activity in the Network tab.
                        In the Network tab, locate the new 'confirm?dpr=1' entry, and right click it.
                        Select the 'Copy Response' option from the context menu like in the image below.</h4>
            </div>
            <img src="assets/login_tutorial2.PNG" />
            <br>
            <div>
                    <h2>Step 4</h2>
                    <h4>After copying the response, paste it into the text field below, press the 'Submit' button, and your Facebook access token will be parsed from the response. then your Tinder auth token will be fetched and will log you into Flare.</h4>
                </div>
        <input class="form-control" type="text" [(ngModel)]="facebook_token" />
        <br>
        <button class="btn btn-primary blueGradient" (click)="getTinderAuthToken()">Submit</button>
    </div>
</div>