.previewImage {
    width: 200px;
}

.profileCard {
    width: 25%;
    text-align: center;
    background-color: #333;
    border: 2px solid black;
    color: #9d9d9d;
    border-radius: 10px;
    position: fixed;
    right: 0px;
    top: 50px;
    float: left;
    margin: auto;
    padding: 3px;
    margin: 10px;
    clear: both;
    min-width: 300px;
    z-index: 100;
}

.faceDetectionButton {
    position: fixed;
    right: 10px;
    top: 15px;
}

.detectButton {
    margin: 10px;
    padding: 15px 32px;
    font-size: 16px;
}
