<!-- <div class="main">
<app-user></app-user>
<app-profiles></app-profiles>
<app-matches></app-matches>
</div>
<app-facedetection></app-facedetection> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tinder Angular</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">User</a></li>
        <li><a href="profiles">Profiles</a></li>
        <li><a href="matches">Matches</a></li>
      </ul>
    </div>
  </nav>
<div class="main">
<router-outlet></router-outlet>
</div>
<app-facedetection></app-facedetection>