.matchesCard {
    width: auto;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    max-width: 24%;
    min-width: 250px;
    float: left;
    height: 100%;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    border-radius: 20px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(179, 0, 0);
    height: 20px;
    border-radius: 30px;
}


.matchesPic {
    width: 100%;
    border-radius: 5px;
    float: left;
    margin: 3px;
}


.clear {
    clear: both;
}

body {
    float: left;
}

.indicatorColor {
    background-color: rgba(255, 0, 0, 0.5);
    width: 20px;
}

.superlike {
    width: 60px;
    padding: 3px;
    border-radius: 50px;
    margin-top: 10px;
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.loadButton {
    position: fixed;
    top: 50px;
    left: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 99;
}