<h1 style="text-align: center">
    <a class="nameTag" [routerLink]="['../../../profile', profile._id]">
        <img class="messageIcon" [src]="profile.photos[0].url" />{{profile.name}}
    </a>
</h1>

<hr style="width: 30%">
<div>
    <div class="messageFrame">
        <div *ngFor="let message of messages, let i = index;">
            <div *ngIf="message.from == user._id">
                <div class="messageCard user" *ngIf="(i < 10)">
                    <div>
                        <div *ngIf="message.from == user._id">
                            <img class="userIcon" [src]="user.photos[0].url" />
                            <h3>{{user.name}}
                                <span class="userDateTag"> {{message.sent_date | date : 'd MMM y, HH:mm:ss' }}</span>
                            </h3>
                        </div>
                        <div *ngIf='message.message.includes("https://media2.giphy.com/"); else normalMessage'>
                            <iframe src="https://media2.giphy.com/media/26BGQb3tjtMeB1iMg/giphy.gif?width=480&height=269" width="300" height="300" class="giphy-embed"
                                allowFullScreen></iframe>
                        </div>
                        <ng-template #normalMessage>
                            <h4>{{message.message}}</h4>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div *ngIf="message.from == profile._id">
                <div class="messageCard profile" *ngIf="(i < 10)">
                    <div>
                        <div *ngIf="message.from == profile._id">
                            <img class="profileIcon" [src]="profile.photos[0].url" />
                            <h3 class="profileNameTag">
                                <span class="profileDateTag">{{message.sent_date | date : 'd MMM y, HH:mm:ss' }} </span> {{profile.name}}</h3>
                        </div>
                        <h4>{{message.message}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="messageInput">
        <span class="input-group">
            <input type="text" class="form-control" [(ngModel)]="messageInput"/>
            <span class="input-group-btn">
                <button class="btn btn-danger" (click)="sendMessage(messageInput, user._id)">Send</button>
            </span>
        </span>
    </div>
</div>