<h1 style="text-align: center">
    <a class="nameTag" [routerLink]="['../../../profile', profile._id]">
        <img class="messageIcon" [src]="profile.photos[0].url" />{{profile.name}}
    </a>
</h1>

<hr style="width: 30%">
<div>
    <div class="messageFrame">
        <div *ngFor="let message of messages, let i = index;">
            <div *ngIf="message.from == user._id">
                <div class="messageCard user blueGradient" *ngIf="(i < 10)">
                    <div>
                        <div *ngIf="message.from == user._id">
                            <img class="userIcon" [src]="user.photos[0].url" />
                            <h3>{{user.name}}
                                <span class="userDateTag"> {{message.sent_date | date : 'd MMM y, HH:mm:ss' }}</span>
                            </h3>
                        </div>
                        <div *ngIf='message.message.includes("giphy.com"); else normalMessage'>
                            <img class="gifImage" [src]='message.message'>
                        </div>
                        <ng-template #normalMessage>
                            <h4>{{message.message}}</h4>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div *ngIf="message.from == profile._id">
                <div class="messageCard profile tinderGradient" *ngIf="(i < 10)">
                    <div>
                        <div *ngIf="message.from == profile._id">
                            <img class="profileIcon" [src]="profile.photos[0].url" />
                            <h3 class="profileNameTag">
                                <span class="profileDateTag">{{message.sent_date | date : 'd MMM y, HH:mm:ss' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                &nbsp;&nbsp;&nbsp;&nbsp; {{profile.name}}
                            </h3>
                        </div>
                        <div *ngIf='message.message.includes("giphy.com"); else normalMessage'>
                            <img class="gifImage" [src]="message.message">
                        </div>
                        <ng-template #normalMessage>
                            <h4>{{message.message}}</h4>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="messageInput">
        <span class="input-group">
            <input style="height: 42px;" type="text" class="form-control" [(ngModel)]="messageInput" />
            <span class="input-group-btn">
                <button class="btn btn-primary blueGradient" (click)="sendMessage(messageInput, user._id)"><i style="font-size: 23px;" class="material-icons">send</i></button>
            </span>
        </span>
    </div>
</div>