.profilePic {
    width: 150px;
    border-radius: 5px;
    margin: 3px;
}

.pictures {
    vertical-align: middle;
}

.profileCard {
    width: 30%;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    float: left;
    margin: auto;
    padding: 3px;
}

.clear {
    clear: both;
}