.profilePic {
    width: 150px;
    border-radius: 5px;
}

.profileCard {
    width: 400px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}