<div class="profileCard">
    <div id="myCarousel" class="carousel slide center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li [attr.data-target]="'#myCarousel' + i" data-slide-to="0" class="active indicatorColor"></li>
            <li [attr.data-target]="'#myCarousel' + i" [attr.data-slide-to]="j" *ngFor="let photo of profile.photos | slice:0; let j = index;"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img [src]="profile.photos[0].url">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item" *ngFor="let photo of profile.photos | slice:0; let j = index;">
                <img [src]="profile.photos[j].url">
                <div class="carousel-caption">
                    <div *ngIf="profile.photos[j].successRate != null; then successrate"></div>
                    <ng-template #successrate>
                        <h3>Success rate: {{profile.photos[j].successRate | number : '1.2-4'}}</h3>
                    </ng-template>
                </div>
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="clear">
        <div class="matchButtons">
            <button class="btn-danger passButton buttonBorders" (click)="passTinderProfile();"><img class="passIcon" src="assets/tinder_pass_icon.png"></button>
            <button class="btn-primary superlikeButton buttonBorders" (click)="superlikeTinderProfile(); lowerSuperlikes(superlikesCounter)">
                <div class="hvr-bob">
                    <img class="superlikeButton" src="assets/tinder_super_like_star.png">
                    <p class="superlikeCounter">{{ superlikesCounter }}</p>
                </div>
            </button>
            <button class="btn-success likeButton buttonBorders" (click)="likeTinderProfile();"><img class="likeIcon" src="assets/tinder_like_icon.png"></button>
        </div>
        <h1 class="nameTag">{{profile.name}}</h1>
        <a class="jobTag" (click)="findOnFacebook(profile.name, profile.schools[0].name)">
            <div *ngIf='profile.schools != ""'>
                <h4 *ngIf='profile.schools[0].name != ""'>
                    <i class="material-icons iconSize">search</i>{{profile.schools[0].name}}</h4>
            </div>
        </a>
        <div *ngIf='profile.instagram != null;'>
            <a class="instaTag" (click)="findOnInstagram(profile.instagram.username)">

                <h5 *ngIf='profile.instagram.username != "";'>
                    <i class="material-icons iconSize">photo_camera</i>{{profile.instagram.username}}</h5>
            </a>
        </div>
        <h4 class="distanceTag">{{profile.distance_mi * 1.609344 | number : '1.1-1'}} km | {{profile.distance_mi}} miles</h4>
        <p>{{profile.bio}}</p>

    </div>
</div>