<div class="profileCard">
    <div class="pictures">
        <div *ngFor="let photo of profile.photos, let j = index;">
            <p>
                <img class="profilePic" [src]="profile.photos[j].url" />
                <h3>SuccesRate: {{profile.photos[j].successRate | number : '1.2-4'}}</h3>
            <p>
        </div>
    </div>
    <div class="clear">
        <h2>{{profile.name}}</h2>
        <p>{{profile.bio}}</p>
        <p>Smart Photos: {{profile.photo_optimizer_enabled}}</p>
        <button (click)="enableSmartPhotos()">Enable Smart Photos</button>
        <button (click)="getTinderUser()">Get Profile</button>
    </div>
</div>