.matchesCard {
    width: auto;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    max-width: 30%;
    min-width: 20%;
    float: left;
    height: 100%;
    min-height: 700px;
}

.matchesPic {
    width: 150px;
    border-radius: 5px;
    float: left;
    margin: 3px;
}


.clear {
    clear: both;
}

body {
    float: left;
}

.indicatorColor {
    background-color: rgba(255, 0, 0, 0.5);
}
