.matchesCard {
    width: auto;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    max-width: 24%;
    min-width: 250px;
    float: left;
    height: 100%;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    border-radius: 20px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(179, 0, 0);
    height: 20px;
    border-radius: 30px;
}

.matchesPic {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.buttonBorders {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nameTag {
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

.nameTag:hover {
    color: #646464;
}

.jobTag {
    text-decoration: none;
    cursor: pointer;
}

.instaTag {
    text-decoration: none;
    cursor: pointer;
}

.possibleMatch {
    color: green;
}

.iconSize {
    margin: 0 auto;
    font-size: 25px;
}

.likeIcon {
    width: 50%;
}

.passIcon {
    width: 50%;
}

.vote-button {
    padding: 5px;
    font-size: 16px;
    width: 100px;
}

.clear {
    clear: both;
}

body {
    float: left;
}

.active {
    background-image:  linear-gradient(262deg, rgb(255, 120, 84), rgb(253, 38, 125));
}

.matchStatus {
    position: fixed;
    right: 0px;
    top: 60px;
    z-index: 99;
}

.matchQuestion {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background-color: #333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;
}

.matchAnswer {
    font-size: 30px;
    color: red;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.matchTrue {
    color: lightskyblue;
}

.matchFalse {
    color: red;
}

.superlikesReset {
    display: inline-block;
    font-size: 40%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.superlikesReset img {
    width: 20px;
}

.boostReset {
    display: inline-block;
    font-size: 40%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.boostReset img {
    width: 20px;
    cursor: pointer;
}

.superlikeCounter {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 3px;
    left: 18px;
}

.superlikeButton {
    width: 14%;
    padding: 3px;
}

.superlikeBorder {
    -webkit-filter: drop-shadow(1px 1px 0 white)
		drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white)
      		drop-shadow(-1px -1px 0 white);

	filter: drop-shadow(1px 1px 0 white)
		drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white)
       		drop-shadow(-1px -1px 0 white);
}

.matchButtons {
    width: 100%;
    white-space: nowrap;
}

.ageInput {
    width: 100px;
    float: left;
    margin: 5px;
}

.distanceInput {
    width: 100px;
    float: left;
    margin: 5px;
}

#profileDetail {
    position: fixed;
    border: 2px solid black;
    background-color: #333;
    vertical-align: middle;
    margin: 0 auto;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    z-index: 101;
}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}



img.superlikeButton {
    width: 100%;
}

.loadButton {
    position: fixed;
    top: 50px;
    left: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 110;
}

loadingInvisible {
    display: none;
}

loadingVisible {
    display: inline-block;
}

.tinderGradient {
    background-image:  linear-gradient(262deg, rgb(255, 120, 84), rgb(253, 38, 125));
    border: 0px;
}

.greenGradient {
    background-image:  linear-gradient(140deg, #6cda6c, #47a047);
    border: 0px;
}

.blueGradient {
    background-image:  linear-gradient(262deg, #00b2df, #0078da);
    border: 0px;
}

.locationIcon {
    position: absolute;
    z-index: 99;
}
.locationIcon img {
    position: relative;
    opacity: 0.8;
    top: 5px;
    right: 170px;
    min-width: 25px;
    width: 25px;
    color: red;
    border-radius: 5px;
}

@media screen and (max-width: 1850px) {
    .locationIcon img {
      right: 140px;
    }
  }

@media screen and (max-width: 1550px) {
    .locationIcon img {
      right: 115px;
    }
  }

.centerModal {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.modalMatchImage {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.modalProfileImage {
    width: 300px;
    border-radius: 50%;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
