<h1>New Profiles</h1>
<span class="input-group">
    <input class="distanceInput form-control" type="number" [(ngModel)]="distance_filter" value="{{distance_filter}}" min="2"
        max="1000">
    <span class="input-group-btn" style="width:0;">
        <button class="btn btn-danger" (click)="setDistanceFilter()">Change distance filter</button>
    </span>
</span>
<span class="input-group">
    <input class="ageInput form-control" type="number" [(ngModel)]="age_filter_min" value="{{age_filter_min}}" min="18" max="1000">
    <input class="ageInput form-control" type="number" [(ngModel)]="age_filter_max" value="{{age_filter_max}}" min="18" max="1000">
    <span class="input-group-btn" style="width:0;">
        <button class="btn btn-danger" (click)="setAgeFilter()">Change age filter</button>
    </span>
</span>
<button class="btn-danger loadButton" (click)="getProfiles()">Load more profiles</button>
<div class="matchStatus">
    <h3 class="matchQuestion">Match?</h3>
    <span class="matchAnswer">{{matchStatus}}</span>
</div>
<hr>
<div class="matchesCard" *ngFor="let profile of profiles, let i = index;">
    <div id="myCarousel{{i}}" class="carousel slide center" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li [attr.data-target]="'#myCarousel' + i" data-slide-to="0" class="active indicatorColor"></li>
            <li [attr.data-target]="'#myCarousel' + i" [attr.data-slide-to]="j" *ngFor="let photo of profiles[i].user.photos, let j = index;"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active matchesPic">
                <img class="matchesPic" [src]="profiles[i].user.photos[0].url">
                <div class="carousel-caption">
                    <div *ngIf="profiles[i].user.photos[0].successRate != null; then successrate"></div>
                    <ng-template #successrate>
                        <h4>Success rate: {{profiles[i].user.photos[0].successRate | number : '1.2-4'}}</h4>
                    </ng-template>
                </div>
            </div>

            <div class="item" *ngFor="let photo of profiles[i].user.photos, let j = index;">
                <img class="matchesPic" [src]="profiles[i].user.photos[j].url">
                <div class="carousel-caption">
                    <div *ngIf="profiles[i].user.photos[j].successRate != null; then successrate"></div>
                    <ng-template #successrate>
                        <h4>Success rate: {{profiles[i].user.photos[j].successRate | number : '1.2-4'}}</h4>
                    </ng-template>
                </div>
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel{{i}}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel{{i}}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="clear">
        <div class="matchButtons">
            <button class="btn-danger passButton buttonBorders" (click)="passTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'passed')">Pass</button>
            <button class="btn-primary superlikeButton buttonBorders" (click)="superlikeTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'superliked')">
                <img class="superlikeButton hvr-bob" src="assets/tinder_super_like_star.png">
            </button>
            <button class="btn-success likeButton buttonBorders" (click)="likeTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'liked')">Like</button>
        </div>
        <a class="nameTag" data-target="#profileDetail" data-toggle="collapse" (click)="getProfile(profiles[i].user._id)">
            <h2>{{profiles[i].user.name}}, {{2018 - (profiles[i].user.birth_date | date : 'yyyy') - 1}}</h2>
        </a>
        <a class="jobTag" (click)="findOnFacebook(profiles[i].user.name, profiles[i].teaser.string)">
            <h5 *ngIf='profiles[i].teaser.string != "";'>
                <i class="material-icons iconSize">search</i>{{profiles[i].teaser.string}}</h5>
        </a>
        <div *ngIf='profiles[i].instagram != null;'>
            <a class="instaTag" (click)="findOnInstagram(profiles[i].instagram.username)">

                <h5 *ngIf='profiles[i].instagram.username != "";'>
                    <i class="material-icons iconSize">photo_camera</i>{{profiles[i].instagram.username}}</h5>
            </a>
        </div>
        <p>{{profiles[i].distance_mi * 1.609344 | number : '1.1-1'}} km</p>
        <p>{{profiles[i].user.bio}}</p>
    </div>
</div>

<!-- Profile Detail -->

<div id="profileDetail" class="collapse">
    <div>
    </div>
</div>