<h1>New Profiles</h1>
<button class="btn-danger loadButton" (click)="getProfiles()">Load more profiles</button>
<div class="matchStatus">
<h3 class="matchQuestion">Match?</h3>
<span class="matchAnswer">{{matchStatus}}</span>
</div>
<div *ngIf="matchStatus == false; then matchFalse"></div>
<ng-template #matchTrue>
    <p class="matchTrue">{{matchStatus}}</p>
</ng-template>
<ng-template #matchFalse>
    <p class="matchFalse">{{matchStatus}}</p>
</ng-template>
<hr>
<div class="matchesCard" *ngFor="let profile of profiles, let i = index;">
    <div id="myCarousel{{i}}" class="carousel slide center" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li [attr.data-target]="'#myCarousel' + i" data-slide-to="0" class="active indicatorColor"></li>
            <li [attr.data-target]="'#myCarousel' + i" [attr.data-slide-to]="j" *ngFor="let photo of profiles[i].user.photos, let j = index;"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img [src]="profiles[i].user.photos[0].url">
                <div class="carousel-caption">
                    <div *ngIf="profiles[i].user.photos[0].successRate != null; then succesrate"></div>
                    <ng-template #succesrate>
                        <h3>Succes rate: {{profiles[i].user.photos[0].successRate | number : '1.2-4'}}</h3>
                    </ng-template>
                </div>
            </div>

            <div class="item" *ngFor="let photo of profiles[i].user.photos, let j = index;">
                <img [src]="profiles[i].user.photos[j].url">
                <div class="carousel-caption">
                    <div *ngIf="profiles[i].user.photos[j].successRate != null; then succesrate"></div>
                    <ng-template #succesrate>
                        <h3>Succes rate: {{profiles[i].user.photos[j].successRate | number : '1.2-4'}}</h3>
                    </ng-template>
                </div>
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel{{i}}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel{{i}}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="clear">
        <div class="matchButtons">
            <button class="btn-danger passButton buttonBorders" (click)="passTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'passed')">Pass</button>
            <button class="btn-primary superlikeButton buttonBorders" (click)="superlikeTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'superliked')"><img class="superlikeButton hvr-bob" src="assets/tinder_super_like_star.png"></button>
            <button class="btn-success likeButton buttonBorders" (click)="likeTinderProfile(profiles[i].user._id, profiles[i].s_number); removeFromList(profiles[i], 'liked')">Like</button>
        </div>
        <h2>{{profiles[i].user.name}}</h2>
        <h4>Age: {{2018 - (profiles[i].user.birth_date | date : 'yyyy') - 1}}</h4>
        <p>{{profiles[i].distance_mi * 1.609344 | number : '1.1-1'}} km</p>
        <p>{{profiles[i].user.bio}}</p>
    </div>
</div>